---
// Awards component - replicating template-parts/blocks/awards.php
---

<div class="awards__block">
  <ul class="awards__list flex flex-wrap justify-center items-center gap-4 md:gap-8">
    <li class="awards__item group relative" data-award="1">
      <img 
        src="/images/img_new/2019_001.png" 
        alt="FBAA Broker of the Year 2019" 
        class="h-16 md:h-20 w-auto hover:scale-105 transition-transform"
        title="FBAA Broker of the Year in 2019"
      />
    </li>
    <li class="awards__item group relative" data-award="2">
      <img 
        src="/images/img_new/2019_002.png" 
        alt="FBAA Broker of the Year 2019" 
        class="h-16 md:h-20 w-auto hover:scale-105 transition-transform"
        title="FBAA Broker of the Year in 2019"
      />
    </li>
    <li class="awards__item group relative" data-award="3">
      <img 
        src="/images/awards/2024-qld-nt-broker-of-the-year.png" 
        alt="EA Broker of the Year 2024" 
        class="h-16 md:h-20 w-auto hover:scale-105 transition-transform"
        title="EA Broker of the Year in 2024"
      />
    </li>
    <li class="awards__item group relative" data-award="4">
      <img 
        src="/images/awards/qld-nt-brokerage-under-5-brokers.png" 
        alt="EA Brokerage of the Year ≤ 5 Brokers 2024" 
        class="h-16 md:h-20 w-auto hover:scale-105 transition-transform"
        title="EA Brokerage of the Year ≤ 5 Brokers in 2024"
      />
    </li>
    <li class="awards__item group relative" data-award="5">
      <img 
        src="/images/awards/Mortgage-Broker-Brisbane-Hunter-Galloway-Award-2024.webp" 
        alt="ThreeBest Best Business 2024" 
        class="h-16 md:h-20 w-auto hover:scale-105 transition-transform"
        title="ThreeBest Best Business of 2024"
      />
    </li>
    <li class="awards__item group relative" data-award="6">
      <img 
        src="/images/img_new/best-mortgage-broker-2019.png" 
        alt="TheAdviser TOP 25 Brokerage 2019" 
        class="h-16 md:h-20 w-auto hover:scale-105 transition-transform"
        title="TheAdviser TOP 25 Brokerage 2019"
      />
    </li>
  </ul>
</div>